*{
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  color: grey;
}

body{
  background-color: rgb(255, 255, 255);
  font-family: 'DM Sans', sans-serif;
  width: 376px;
  font-size: 3px;
}
/*-------------------------------------*/

.navbar{
  display: flex;
  position: relative;
  width: 100%;
  
}

.dropdown-menu{
  width: 23.33%;
  text-align: center;
  cursor: pointer;
  padding: 30px 0;
  z-index: 1;
}

.dropdown-menu > button{
  font-size: 17px;
  background-color: white;
  border: none;
}

.menu-items-class{
  display: none;
  position: absolute;
  width: 100%;
  padding: 5px 0px;
  margin: 32px 0px;
  background-color: white;
  border: 1px solid grey;
 
}

.menu-items-class > ul > li{
  padding: 10px 0;
  
}

.menu-items-class > ul > li > a{
  font-size: 17px;
  text-decoration: none;
  color: grey;
  
}

.menu-items-class > a {
  text-decoration: none;
}

.logo{
  width: 53.33%;
  text-align: center;
  font-size: 17px;
  padding: 30px 0;
}

.search-box{
  width: 23.33%;
  text-align: center;
  font-size: 10px;
  padding: 30px 0;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.search-box > button{
  font-size: 17px;
  background-color: white;
  border: none;
  
}

.search-box-class{
  position: relative;
  display: none;
  background-color: brown;
 
}

.search-box-class > input{
  position: absolute;
  margin: 32px -340px;
  padding: 30px 98.9px; 
  outline: none;
  border: 1px solid grey;
  text-align: center;
  
}

.search-box-class >input:focus::placeholder{
  font-size: 13px;
  text-align: center;
  color: transparent;
}
.show{display: block;}
.popup{display: block;}

/*----------------------------*/

.slider{
  overflow:  hidden;
  height: 210px;
  width: 100%;
  background-color: black;
}

.slider figure{
  position: relative;
  width: 500%;
  animation: 12s slider infinite;
}

.slider figure img{
  width: 20%;
  float: left;
}


@keyframes slider{
  0%{
    left: 0;
  }
  25%{
    left: 0;
  }
  30%{
    left: -100%;
  }
  50%{
    left: -100%;
  }
  55%{
    left: -200%;
  }
  75%{
    left: -200%;
  }
  80%{
    left: -300%;
  }
  100%{
    left: -300%;
  }

}
.hover-button{
  width: 376px;
  position: relative;
  justify-content: center;
  text-align: center;
  transform: translate(-50%, -50%);
  margin: 0 187px;
}

.hover-button > a {
display: inline-block;
border-radius: 4px;
background-color: #ffffff;
color: #000000;
text-align: center;
font-size: 13px;
padding: 10px 20px;
height: auto;
transition: all 0.5s;
cursor: pointer;
border: none;

}

.hover-button > a span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.hover-button > a span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.hover-button > a:hover span {
padding-right: 25px;
}

.hover-button > a:hover span:after {
opacity: 1;
right: 0;
}

/*---------------------------------*/

.contact{
  width: 100%;
  text-align: center;
  padding:  30px 0;
}

.contact-button-class{
  border: none;
  background-color: white;
  font-weight: bold;
}

.contact-items-class{
  display: none;
  padding: 30px 0;
}
.contact-items-class > a {
  font-size: 13px;
  text-decoration: none;
}

.contact-show{display: block;}

.services{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.services-button-class{
  border: none;
  background-color: white;
  font-weight: bold;
}

.services-items-class{
  display: none;
  padding: 15px 0;
}

.services-items-class ul > li{
  padding: 15px 0;
}

.services-items-class ul > li > a{
  font-size: 13px;
  text-decoration: none;
}

.services-show{display: block;}

.follow-us{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.follow-us-button-class{
  border: none;
  background-color: white;
  font-weight: bold;
}

.follow-us-items-class{
  padding: 15px;
  display: none;
}

.follow-us-items-class > a{
  font-size: 13px;
  padding: 0 10px;
  color: grey;
}

.follow-us-show{display: block;}

/*--------------------------------*/

.rule{
  width: 100%;
  text-align: center;
  background-color: rgb(109, 109, 109);
  padding: 30px 0;
}

.rule > a{
  font-size: 10px;
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

/*-------------------------------------*/

.language {
  width: 100%;
  text-align: center;
  padding: 30px 0;

}

/*------------------------------------*/
.copyright{
  width: 100%;
  text-align: center;
}

.languages-class > option{
  font-size: 10px;
}

/*-----------------------------------------------------*/
.copyright > h5{
  font-size: 8px;
}
